@page
@model MyApp.Namespace.LogoutModel
@{
}
<div class="main-container container pt-80 pb-80" id="main-container">
    <!-- post content -->
    <div class="blog__content mb-72">
        <div class="container text-center">
            <h2>از حساب کاربری خود خارج شدید</h2>
        </div> <!-- end container -->
    </div> <!-- end post content -->
</div> <!-- end main container -->